body {
    background-color: #966F33;
}

#title {
    text-align: center;
    color: rgb(255, 255, 255);
}

#center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: solid 2pt black;
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 450pt;
}

#user-scores {
    background-color: #966F33;
    border: solid 2pt rgb(0, 0, 0);
    padding: 10pt;
    width: 6%;
    margin: 5pt 0 0 10pt;
}

#hearts-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    color: #ff0000;
    list-style: none;
}

#hearts-list li {
    margin-right: 5pt;
}

#score {
    color: rgb(255, 255, 255);
}