body {
    background-color: #966F33;
}

#title {
    text-align: center;
    color: rgb(255, 255, 255);
}

.center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: solid 2pt black;
    background-color: #92bda3;
    width: 75%;
    height: 450pt;
    min-width: 425pt;

    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

#user-scores {
    background-color: #966F33;
    border: solid 2pt rgb(0, 0, 0);
    padding: 2pt 10pt;
    width: 6%;
    margin: 5pt 0 0 10pt;
    min-width: 50pt;

    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

#hearts-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    color: #ff0000;
    list-style: none;
}

#hearts-list li {
    margin-right: 5pt;
}

#score {
    color: rgb(255, 255, 255);
}

#fruit-board {
    background-color: rgb(255, 255, 255);
    border: 2pt solid rgb(0, 0, 0);
    margin-top: 10pt;
    width: 85%;
    min-width: 400pt;
    max-width: 500pt;
    height: 300pt;
    overflow: hidden;

    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

.start-or-reset {
    background-color: #966F33;
    border: solid 2pt rgb(0, 0, 0);
    padding: 15pt;
    margin-top: 10pt;
    font-size: 15pt;

    box-shadow: 0px 4px 0px 0px #000000;
    -webkit-box-shadow: 0px 4px 0px 0px #000000;
    -moz-box-shadow: 0px 4px 0px 0px #000000;
}

.start-or-reset:hover {
    background-color: #c59142;
    cursor: pointer;
}

.start-or-reset:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    margin-top: 14pt;
}

#game-over {
    margin-top: 5pt;
    height: 290pt;
    width: 90%;
    background: linear-gradient(#A5CC6B, #08605F);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    display: none;
}

#game-over-reset {
    width: 20%;
}

#timer {
    color: white;
    background-color: #966F33;
    border: solid 2pt rgb(0, 0, 0);
    padding: 2pt 10pt;
    width: 4%;
    margin: 5pt 0 0 10pt;
    min-width: 50pt;
    position: absolute;
    float: right;
    display: none;

    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

#time {
    font-weight: bold;
    font-size: large;
}

#sources {
    border-radius: 10pt;
    border: solid 1pt black;
    background: #92BDA3;
    color: white;
    margin: 5pt;
    padding: 5pt;
}

.fruit {
    background-size: cover;

    /* needs to range between 5 and 80 percent */
    margin-left: 5%;

    width: 50pt;
    height: 50pt;
}

